<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="/static/CBB-AI-COM.png">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  
  <!-- Custom Modern CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  
  <!-- Popper.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  <!-- DataTables JS -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  
  <title>{% block title %}{% endblock %} | CBB-AI</title>
  
  <!-- Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-204618946-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-204618946-1');
  </script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3ZB1P5S759"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-3ZB1P5S759');
  </script>
  
  <!-- Google AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1213053916309247" crossorigin="anonymous"></script>

  {% block head %}
  {% endblock %}
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/static/cbbAILogo_resized.png" class="logo" alt="CBB-AI Logo">
        <span class="brand-text">CBB-AI</span>
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="fas fa-home"></i> Rankings
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/scores/{{now}}/TOP%2025">
              <i class="fas fa-basketball-ball"></i> Scores
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/conference">
              <i class="fas fa-trophy"></i> Conferences
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/predict">
              <i class="fas fa-chart-line"></i> Predict
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.buymeacoffee.com/cbbai" target="_blank">
              <i class="fas fa-coffee"></i> Donate
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Main Content -->
  <main class="main-content">
    {% block content %}
    {% endblock %}
  </main>

  <!-- Footer -->
  <footer>
    <div class="container">
      <p>&copy; Copyright 2024-2025 CBB-AI. All Rights Reserved.</p>
      <p>
        <a href="/disclaimer">Disclaimer</a> | 
        <a href="/about">About</a> | 
        <a href="mailto:contact@cbb-ai.com">Contact</a>
      </p>
    </div>
  </footer>
  
  <!-- Font Awesome for Icons -->
  <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
</body>
</html>